* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: white;
}

/* HERO SECTION */

.hero {
  height: 80vh;
  background: url("https://www.travelandleisure.com/thmb/0VePyDWsk3kDm1PWB24-AStwwNw=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc()/solo-travel-ENTRY0716-a8f0570cbc5c41c8a3b44a3a0bde4673.jpg")
    no-repeat center/cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-overlay {
  text-align: center;
  color: white;
  padding: 42px;
  margin-bottom:60px;
}

.hero h1 {
  font-size: 48px;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: 20px;
}

.btn {
  background: orange;
  border: none;
  padding: 15px 40px;
  font-size: 16px;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.3s;
}

.btn:hover {
  background: orange;
}

/* ACTIVITY SECTION */

.activity {
  padding: 60px 20px;
}

.container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;
}

.text {
  flex: 1;
  margin-top:-10px;
}

.text h2 {
  font-size: 40px;
  color: #1d4e89;
  margin-bottom: 20px;
  margin-top: -20px;
}

.text p {
  color: gray;
  line-height: 1.7;
  margin-bottom:-30px;
}

.image {
  flex: 1;
}

.image img {
  width: 100%;
  border-radius: 4px;
  margin-top:-20px;
  margin-bottom:-30px;
}

/* RESPONSIVE */

/* Tablet */
@media (max-width: 900px) {
  .hero h1 {
    font-size: 36px;
  }

  .container {
    flex-direction: column;
    text-align: center;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .hero {
    height: 60vh;
  }

  .hero h1 {
    font-size: 26px;
  }

  .btn {
    padding: 12px 25px;
  }

  .text h2 {
    font-size: 28px;
  }
}
