*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.parent{
    width: 857px;   
    height:515px;
    margin:auto;
    border:1px solid hsl(6, 93%, 71%); 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap:18px;
    background-color: rgb(166, 199, 209);
    padding:6px;
}

.child1{
    grid-column: 1 /3;
    grid-row: 1 /2;
    background-color: rgb(93, 14, 127);
    border-radius: 4%;
    padding: 20px;
}
.child1 h4{
    text-align: left;
    color: white;
    margin-left: 10px;
    margin-top: 20px;
}
.child1 p{
    text-align: left;
    color: #746b6b;
    margin-left: 13px;
    margin-top: 10px;
    font-size: 13px;
}
.child1 img{
    width: 50px;
    height:40px;
    border-radius: 250%;
    margin-left:5px;
}
.profile1 h5{
    margin-left: 70px;
    margin-top:-40px;
    color: white;
    font-size: 15px;
}
.profile1 p{
    margin-left: 70px;
    margin-top:-0px;
    color: rgb(200, 196, 196);
   font-size: 10px;
}
.child2{
    grid-column: 3 /4;
    grid-row: 1 /2;
    background-color: rgb(75, 76, 133);
    border-radius: 4%;
}
.child2 h4{
    text-align: left;
    color: white;
    margin-left: 18px;
    margin-bottom:2px;
    margin-top: -10px;
}
.child2 p{
    text-align: left;
    color: #746b6b;
    margin-left: 21px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-size: 13px;
}
.child2 img{
    width: 50px;
    height:40px;
    border-radius: 250%;
    margin-left:16px;
    margin-top:15px;
    margin-right:25px;
}
.profile2 h5{
    margin-left: 70px;
    margin-top:-40px;
    color: white;
    font-size: 15px;
}
.profile2 p{
    margin-left: 70px;
    margin-top:-0px;
    color: #746b6b;
    font-size: 10px;
}
.child3{
    grid-column: 4 /5;
    grid-row: 1 /3;
    background-color: white;
}
.child3 img{
    width: 50px;
    height:40px;
    border-radius: 250%;
    margin-left:16px;
    margin-top:15px;
    margin-right: 30px;
}
.child3 h4{
    text-align: left;
    color: rgb(30, 79, 124);
    margin-left: 18px;
    margin-bottom:2px;
    margin-top: -5px;
}
.child3 p{
    text-align: left;
    color: #746b6b;
    margin-left: 21px;
    margin-top: 10px;
    margin-bottom: 23px;
    font-size: 13px;
}
.profile3 h5{
    margin-left: 70px;
    margin-top:-40px;
    color:black;
    font-size: 15px;

}
.profile3 p{
    margin-left: 70px;
    margin-top:0px;
    color: #746b6b;
    font-size: 10px;
    margin-bottom: 27px;
}


.child4{
    grid-column: 1 /2;
    grid-row: 2 /3;
    background-color: rgb(255, 255, 255);
    border-radius: 4%;
}
.child4 img{
    width: 50px;
    height:40px;
    border-radius: 250%;
    margin-left:16px;
    margin-top:15px;
    margin-right: 30px;
}
.profile4 h5{
    margin-left: 70px;
    margin-top:-40px;
    color:black;
    font-size: 15px;

}
.profile4 h6{
    margin-left: 72px;
    color: #746b6b;
}


.child4 h4{
    text-align: left;
    color: rgb(30, 79, 124);
    margin-left: 18px;
    margin-bottom:2px;
    margin-top: 21px;
}
.child4 p{
    text-align: left;
    color: #746b6b;
    margin-left: 21px;
    margin-top: 13px;
    margin-bottom: 23px;
    font-size: 13px;
}


.child5{
    grid-column: 2 /4;
    grid-row: 2 /3;
    background-color: rgb(31, 32, 78);
    border-radius: 4%;
}
.child5 img{
    width: 50px;
    height:40px;
    border-radius: 300%;
    margin-left:16px;
    margin-top:-3px;
    margin-right: 30px;
}
.profile5 h5{
    margin-left: 70px;
    margin-top:-40px;
    color: white;
    font-size: 15px;

}
.profile5 h6{
    margin-left: 72px;
    color:rgb(200, 196, 196);
}
.child5 h4{
    text-align: left;
    color:aliceblue ;
    margin-left: 18px;
    margin-bottom:2px;
    margin-top: 21px;
}
.child5 p{
    text-align: left;
    color: #746b6b;
    margin-left: 21px;
    margin-top: 13px;
    margin-bottom: 23px;
    font-size: 13px;
}



